<h2 mat-dialog-title>{{problem.title ? problem.title : 'New Problem'}}</h2>
<form #problemForm="ngForm" [formGroup]="formGroup">
    <mat-dialog-content>
        <h3 mat-dialog-title>Data</h3>
        <mat-form-field color="accent">
            <input matInput readonly="readonly" formControlName="_id" type="text" placeholder="_id">
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput formControlName="id" type="number" placeholder="ID">
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput formControlName="title" type="text" placeholder="Title">
        </mat-form-field>
        <div formControlName="description" [froalaEditor]></div>
        <br>
        <mat-form-field color="accent">
            <mat-select multiple placeholder="Divisions" formControlName="divisions">
                <mat-option *ngFor="let division of divisions" [value]="division._id">{{division.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput formControlName="points" type="number" placeholder="Points">
        </mat-form-field>
        <mat-checkbox formControlName="testCasesCaseSensitive">Test Cases Case Sensitive?</mat-checkbox>
        <br>
        <div class="flex horizontal" style="margin: 1em 0">
            <h3 mat-dialog-title style="margin: 0">Test Cases</h3>
            <span class="spacer"></span>
            <button mat-button (click)="addTestCase()"><mat-icon>add</mat-icon></button>
        </div>
        <!-- TODO: Convert to a mat-table -->
        <table>
            <thead>
            <tr>
                <th>Input</th>
                <th>Output</th>
                <th>Hidden</th>
            </tr>
            </thead>
            <tbody formArrayName="testCases">
            <tr *ngFor="let _ of testCases.controls; index as i" [formGroupName]="i">
                <td>
                    <mat-form-field color="accent">
                        <textarea matInput formControlName="input"></textarea>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field color="accent">
                        <textarea matInput formControlName="output"></textarea>
                    </mat-form-field>
                </td>
                <td><mat-checkbox formControlName="hidden"></mat-checkbox></td>
                <!-- TODO: Ability to delete test case -->
            </tr>
            </tbody>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button color="accent" type="button" [mat-dialog-close]="['save', formValue]">Save</button>
        <button mat-button color="warn" type="button" [mat-dialog-close]="['delete', formValue]" *ngIf="problem._id">Delete</button>
        <button mat-button type="button" [mat-dialog-close]="['close', formValue]">Cancel</button>
    </mat-dialog-actions>
</form>