<h2 mat-dialog-title>{{problem.title ? problem.title : 'New Problem'}}</h2>
<form #problemForm="ngForm" [formGroup]="formGroup">
    <mat-dialog-content>
        <h3>Data</h3>
        <mat-form-field color="accent">
            <input matInput formControlName="_id" type="text" placeholder="_id" disabled>
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput formControlName="id" type="number" placeholder="ID">
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput formControlName="title" type="text" placeholder="Title">
        </mat-form-field>
        <mat-form-field color="accent">
            <textarea matInput formControlName="description" placeholder="description"></textarea>
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-select multiple placeholder="Division" formControlName="division">
                <mat-option *ngFor="let division of divisions" [value]="division._id">{{division.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput formControlName="points" type="number" placeholder="Points">
        </mat-form-field>
        <mat-checkbox formControlName="testCasesCaseSensitive">Test Cases Case Sensitive?</mat-checkbox>
        <h3>Test Cases <input type="button" value="+" class="inline" (click)="addTestCase()"></h3>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Input</th>
                <th>Output</th>
                <th>Hidden</th>
            </tr>
            </thead>
            <tbody formArrayName="testCases">
            <tr *ngFor="let _ of testCases.controls; index as i" [formGroupName]="i">
                <td><input type="number" formControlName="id"></td>
                <td><textarea formControlName="input"></textarea></td>
                <td><textarea formControlName="output"></textarea></td>
                <td><input type="checkbox" formControlName="hidden"></td>
            </tr>
            </tbody>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button color="accent" type="button" [mat-dialog-close]="['save', formValue]">Save</button>
        <button mat-button color="warn" type="button" [mat-dialog-close]="['delete', formValue]" *ngIf="problem._id">Delete</button>
        <button mat-button type="button" [mat-dialog-close]="['close', formValue]">Cancel</button>
    </mat-dialog-actions>
</form>