<div class="main">
  <div class="left">
      <div class="header container">
          <div class="header-left">
              <img src="assets/logo.png">
              <h1>Dashboard</h1>
          </div>
          <div class="header-right">
              <h2>1 hour remaining</h2>
          </div>
      </div>
      <div class="team">
          <div class="container">
              <h1>Team Info</h1>
              <table>
                  <tr>
                      <th>ID</th>
                      <td>1</td>
                  </tr>
                  <tr>
                      <th>Members</th>
                      <td>Alice, Bob, Charlie</td>
                  </tr>
                  <tr>
                      <th>Division</th>
                      <td>Expert</td>
                  </tr>
                  <tr>
                      <th>Score</th>
                      <td>10</td>
                  </tr>
              </table>
          </div>
      </div>
      <div class="problems">
          <div class="container">
              <h1>Problems</h1>
              <div class="grid">
                  <a class="cell" *ngFor="let i of [1, 2, 3, 4, 5, 6]" [ngClass]="['red', 'yellow', 'blue', 'purple', 'orange', 'green'][i-1]" [routerLink]="['..', 'dashboard', 'problem', i]">
                      <h1>{{i}}</h1>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <h1>Activity Feed</h1>
    <app-feed></app-feed>
  </div>
</div>