:host {
  flex: 1;
}

.header {
  display: flex;
  margin-bottom: 1em;

  & :first-child {
    flex: 1;
  }
}

.flex {
  display: flex;

  &.display-side {
    & > * {
      flex: 1;
    }

    & > :not(:last-child) {
      margin-right: 1em;
    }
  }

  &.horizontal {
    align-items: center;

    & :not(:last-child) {
      margin-right: 1em;
    }
  }

  &.right {
    justify-content: flex-end;
  }
}

h1 {
  font-size: 3em;
}

input[type=button] {
  font-size: 1.5em;
}

select {
  float: right;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

li {
  list-style: none;
}