<ng-container *ngIf="submission">
    <div class="header">
        <div>
            <h1>{{submission.problem.id}}. {{submission.problem.title}}</h1>
        </div>
        <div class="flex-horizontal">
            <h2>ID: {{submission._id}}</h2>
        </div>
    </div>
    <div class="display-side">
        <div>
            <app-card title="Result">
                <h2>{{submission.result}}</h2>
                <h3>{{submission.points}} point(s)</h3>
            </app-card>
            <app-card title="IO" *ngIf="submission.testCases.length > 0">
                <table>
                    <thead>
                    <tr>
                        <th>Input</th>
                        <th>Correct Output</th>
                        <th>Your Output</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let testCase of submission.testCases">
                        <td>{{testCase.input}}</td>
                        <td>{{testCase.correctOutput}}</td>
                        <td>{{testCase.output}}</td>
                        <td>{{testCase.correct ? 'Correct' : 'Incorrect'}}</td>
                    </tr>
                    </tbody>
                </table>
            </app-card>
            <app-card title="Error" *ngIf="submission.error">
                <code>{{submission.error}}</code>
            </app-card>
        </div>
        <codemirror [config]="{ lineNumbers: true, mode: mode, readOnly: true }"></codemirror>
    </div>
</ng-container>