<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="true" [disableClose]="true" [fixedInViewport]="true">
        <a [routerLink]="['/admin']" class="logo"><img src="assets/logo-portrait.png"></a>
        <br><br>
        <h2 *ngIf="admin">{{admin.name}}</h2>
        <h3>CodeLM Judging Dashboard</h3>
        <h4>For official use only</h4>
        <br><br>
        <mat-divider></mat-divider>
        <br>
        <mat-nav-list>
            <a [routerLink]="['/admin']" mat-list-item>Standings</a>
            <a [routerLink]="['/admin', 'divisions']" mat-list-item>Divisions</a>
            <a [routerLink]="['/admin', 'problems']" mat-list-item>Problems</a>
            <a [routerLink]="['/admin', 'admins']" mat-list-item>Admins</a>
            <a [routerLink]="['/admin', 'add-team']" mat-list-item>Add Team</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>