<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true" [disableClose]="true" [fixedInViewport]="true">
    <a [routerLink]="['..', 'dashboard']" class="logo"><img src="assets/logo-portrait.png"></a>
    <br><br>
    <ng-container *ngIf="team">
      <h2>{{team.username}}</h2>
      <h3>Score: {{team.score}}</h3>
      <app-countdown></app-countdown>
    </ng-container>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <mat-nav-list>
      <a [routerLink]="['/dashboard']" mat-list-item>Dashboard</a>
      <a *ngFor="let problem of problems" [routerLink]="['problem', problem._id]" mat-list-item>{{problem.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>