:host {
  height: 100vh;
  width: 20vw;
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-variant: small-caps;
}

.logo {
  margin: 0.5em 0.5em 1.5em;

  & img {
    width: calc(100% - 1em);
  }
}

a:not(.logo) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant: none;

  &:nth-child(2n + 1) {
    background: #f0f0f0;
  }
}