@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;

  font-family: 'Roboto', serif;
  font-weight: 300;
}

.CodeMirror {
  border: thin solid #ddd;
}

.CodeMirror * {
  font-family: 'Roboto Mono', monospace;
  cursor: text;
}

.CodeMirror-gutter {
  cursor: default !important;
}

.container {
  margin: 1em;
}

app-root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

app-dashboard {
  display: flex;
  flex: 1;

  overflow-y: scroll;
}

main {
  @extend .container;
  flex: 1;
}

input[type=button], input[type=submit] {
  flex: 1;
  display: block;
  text-align: center;
  padding: .5em;
  border: thin solid #f0f0f0;

  &:not(:last-child) {
    border-right: none;
  }

  &.active {
    background: #f0f0f0;
  }
}

a:visited {
  color: inherit;
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}