<div class="main">
    <app-card title="Team Info" class="team">
        <div class="container">
            <table>
                <tr>
                    <th>ID</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Members</th>
                    <td>Alice, Bob, Charlie</td>
                </tr>
                <tr>
                    <th>Division</th>
                    <td>Expert</td>
                </tr>
                <tr>
                    <th>Score</th>
                    <td>10</td>
                </tr>
            </table>
        </div>
    </app-card>
    <app-card title="Activity Feed">
        <app-feed></app-feed>
    </app-card>
</div>