.content-container {
  border: thin solid #f0f0f0;
  border-top: none;
  height: calc(100% - 54px); // TODO: Use flexbox or something.
  padding: 0.5em;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tabs > a {
  flex: 1;
  display: block;
  text-align: center;
  padding: .5em;
  border: thin solid #f0f0f0;

  &:not(:last-child) {
    border-right: none;
  }

  &.active {
    background: #f0f0f0;
  }
}
